<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Vocabulary details</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- DataTales Example -->
                <a th:href="@{/vocabularies}">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <div class="card shadow mt-3 mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <img th:src="@{/img/signin.png}" class="img-thumbnail rounded w-25" alt="Image">
                            <h3 class="my-4"><b>Apple</b></h3>
                            <p>/Phonetics/ <span class="ml-2"><i class="fa fa-volume-up"></i></span></p>
                            <h5 class="my-4"><b>Quả táo</b></h5>
                        </div>
                        <p><b>Type of word</b>: noun</p>
                        <p><b>Example sentence</b>: I have an apple</p>
                        <p><b>Meaning of example sentence</b>: Tôi có một quả táo</p>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>