<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Edit vocabulary</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800 text-center">Edit vocabulary</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" id="topicId">
                            <div class="form-row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                                    <label for="word">Word <b class="text-danger">(*)</b> </label>
                                    <input type="text" class="form-control" id="word">
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                                    <label for="meaning">Meaning</label>
                                    <input type="text" class="form-control" id="meaning">
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                                    <label for="typeOfWord">Type of word</label>
                                    <input type="text" class="form-control" id="typeOfWord">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleSentence">Example sentence</label>
                                <input type="text" class="form-control" id="exampleSentence">
                            </div>
                            <div class="form-group">
                                <label for="meaningOfExampleSentence">Meaning of example sentence</label>
                                <input type="text" class="form-control" id="meaningOfExampleSentence">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-12">
                                    <label>Select a file:</label>
                                    <div class="row mb-3 p-3">
                                        <div class="form-check col-lg-4 col-md-4 col-sm-12 col-12">
                                            <input class="form-check-input" type="radio" name="imageRadioLabel" id="imageUrlRadioLabel">
                                            <label class="form-check-label" for="imageUrlRadioLabel">Url</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                            <input class="form-control" type="url" name="image" id="imageUrl" disabled>
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="form-check col-lg-4 col-md-4 col-sm-12 col-12">
                                            <input class="form-check-input" type="radio" name="imageRadioLabel" id="imageFromDeviceRadioLabel" checked>
                                            <label class="form-check-label" for="imageFromDeviceRadioLabel">Device</label>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                            <input class="form-control border-0 p-0 bg-white" type="file" name="image" id="imageFromDevice">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                                    <img id="imagePreview" th:src="@{/img/signin.png}" class="img-thumbnail rounded w-75" alt="Image preview">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a th:href="@{/vocabularies}" class="btn btn-secondary">Back to list</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>