<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Vocabularies</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800 text-center">Vocabularies</h1>
                <a th:href="@{/topics}">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <!-- DataTales Example -->
                <div class="card shadow mt-3 mb-4">
                    <div class="card-header py-3">
                        <a th:href="@{/create-vocabulary}" class="btn btn-outline-primary">Create new</a>
                        <button class="btn btn-outline-danger">Delete all</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Word</th>
                                    <th>Meaning</th>
                                    <th>Phonetics</th>
                                    <th>Audio</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Word</th>
                                    <th>Meaning</th>
                                    <th>Phonetics</th>
                                    <th>Audio</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>Image</td>
                                    <td>Word 1</td>
                                    <td>Meaning</td>
                                    <td>Phonetics</td>
                                    <td>Audio</td>
                                    <td>Type</td>
                                    <td class="text-center text-nowrap" style="width:1px">
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/edit-vocabulary}">Edit</a>
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/vocabulary-details}">Details</a>
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/move-vocabulary-to}">Move to</a>
                                        <a class="btn-sm btn-outline-danger btn" th:href="@{/}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>