<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Topic details</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800 text-center">Topic information</h1>
                <a th:href="@{/topics}">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <!-- DataTales Example -->
                <div class="card shadow mt-3 mb-4">
                    <div class="card-body">
                        <p><b>Name</b>: Topic name</p>
                        <p><b>Created by</b>: abc@gmail.com</p>
                        <p><b>Created date</b>: 12/01/2024</p>
                        <p><b>Updated by</b>: ggg@gmail.com</p>
                        <p><b>Updated date</b>: 12/01/2024</p>
                        <p><b>Description</b>:</p>
                        <textarea rows="10" disabled class="bg-white border-0 form-control">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</textarea>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>