<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Dashboard</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800 text-center">Dashboard</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a th:href="@{/create-project}" class="btn btn-outline-primary">Create new</a>
                        <button class="btn btn-outline-danger" id="deleteAll">Delete all</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Created date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Created date</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="@{/topics}">Project name here...</a>
                                    </td>
                                    <td>01/11/2024</td>
                                    <td  class="text-center text-nowrap" style="width:1px">
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/edit-project}">Edit</a>
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/project-details}">Details</a>
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/new-share}">Share</a>
                                        <a class="btn-sm btn-outline-danger btn" th:href="@{/}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>