<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Project details</title>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid" layout:fragment="content">
                <!-- Page Heading -->
                <h1 class="h3 mb-3 text-gray-800 text-center">Project information</h1>
                <a th:href="@{/}">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <!-- DataTales Example -->
                <div class="card shadow mt-3 mb-4">
                    <div class="card-body">
                        <p><b>Name</b>: Project name</p>
                        <p><b>Created date</b>: 12/01/2024</p>
                        <p><b>Updated date</b>: 12/01/2024</p>
                        <p><b>Description</b>:</p>
                        <textarea rows="10" disabled class="bg-white border-0 form-control">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</textarea>
                    </div>
                </div>

                <h1 class="h3 mb-3 text-gray-800 text-center">Shared with</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a th:href="@{/new-share}" class="btn btn-outline-primary">New share</a>
                        <button class="btn btn-outline-danger">Delete all</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Joined date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Joined date</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>def@gmail.com</td>
                                    <td>View</td>
                                    <td>01/11/2024</td>
                                    <td  class="text-center text-nowrap" style="width:1px">
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/}">Edit roles</a>
                                        <a class="btn-sm btn-outline-danger btn" th:href="@{/}">Delete share</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>dafe@gmail.com</td>
                                    <td>View, Create, Update</td>
                                    <td>01/11/2024</td>
                                    <td  class="text-center text-nowrap" style="width:1px">
                                        <a class="btn-sm btn-outline-primary btn" th:href="@{/edit-roles}">Edit roles</a>
                                        <a class="btn-sm btn-outline-danger btn" th:href="@{/}">Delete share</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
</html>